.products {
    padding: 20px;
    background-color: #fff;
}

.products__header {
    text-align: center;
    margin-bottom: 20px;
}

.products__categories {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.products__category {
    background-color: #f0f0f0;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    color: #333;
}

.products__category:hover {
    background-color: #ddd;
}

.products__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.products__card {
    text-align: center;
    padding: 10px;
    height: 80%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.products__card:hover {
    transform: scale(1.05);
}

.products__image {
    width: 90%;
    height: 50%;
}

.products__name {
    font-size: 1.25em;
    margin: 0.5em 0;
}

.products__description {
    font-size: 0.875em;
    margin: 0.5em 0;
}

.products__price {
    font-size: 1em;
    margin: 0.5em 0;
}

.product__add-to-cart {
    background-color: #128C7E;
    color: white; /* Cambia el color del texto a blanco para que se vea mejor en el fondo verde */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    align-items: center;
}

.product__add-to-cart:hover {
    background-color: #0f6e5b;
}
