.menu {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-top: 100px;
}

.menu__nav {
    display: flex;
    justify-content: space-around; 
    background-color: transparent; 
    padding: 10px 20px;
    max-width: 600px; 
}

.menu__link {
    color: #050505;  
    text-decoration: none; 
    font-size: 16px; 
    font-weight: bold; 
    padding: 8px 12px;  
    letter-spacing: 1px; 
    transition: color 0.3s; 
}

.menu__link:hover, .menu__link:active {
    color: #128C7E; 
}

.menu__link.active {
    color: #008000;
}

@media (max-width: 768px) {
    .menu {
        margin-top: 130px;
    }
}
