.searcher__bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 55%;
    margin-left: auto;
    margin-right: 50px;
    transition: width 0.3s ease, margin 0.3s ease;
}

.searcher__input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.searcher__button {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.searcher__button:hover {
    background-color: #128C7E;
}

.searcher__input:focus {
    outline: none;
}

@media (max-width: 768px) {
    .searcher__bar {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
