.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; /* Bordes sencillos para la barra de búsqueda completa */
    width: 55%; /* Establece el ancho al 25% del ancho total del viewport */
    margin-left: auto; /* Alinea el contenedor hacia la derecha */
    margin-right: 50px; /* Asegura algo de margen desde el borde derecho */
}

.search-input {
    flex-grow: 1; /* Hace que el input ocupe todo el espacio disponible */
    border: none;
    padding: 10px;
    font-size: 16px; /* Tamaño de fuente adecuado */
}

.search-button {
    background-color: #4CAF50; /* Color verde para el botón */
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente para el texto del botón */
    outline: none; /* Remueve el outline al hacer focus */
}

.search-button:hover {
    background-color: #45a049; /* Un verde un poco más oscuro al pasar el mouse */
}

.search-input:focus {
    outline: none; /* Remueve el outline al estar enfocado */
}
