.carousel {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.carousel__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.carousel__arrow--left {
    left: 10px;
}

.carousel__arrow--right {
    right: 10px;
}

.carousel__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-duration: 1s ease;
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel__slide--active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.carousel__image {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
}

.carousel__slide-name {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carousel__slide-name:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .carousel {
        width: 95%;
        height: 50vh;
        margin: auto;
    }
    .carousel__image {
        height: 50vh;
    }
}
